.selected-filters {
    display: flex;
    flex-wrap: wrap;

    &__item {
        padding: 8px;
        margin-right: 4px;
        margin-bottom: 4px;
        border: 1px solid $border;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
            color: $blue;
            border-color: $blue;
        }
    }
}